<div class="container">
  <div class="row m-0 vh-100  align-items-center justify-content-center">
    <div class="col-auto bg-light p-5">
      <h3 class="col-auto">Haga su votación</h3>
      <span class="text-secondary">Para ver los resultados envíe su votación</span>
      <form class="mt-3" (ngSubmit)="onSubmit()" [formGroup]="encuestaForm">

        <div class=" mb-3">
          <div class="input-group" >
            <input formControlName="mail" placeholder="Email" type="email" class="form-control" aria-describedby="emailHelp" id="mail" required>
            <span class="input-group-text">@ejemplo.cl</span>
          </div>
          <div class="alert alert-info p-1" *ngIf = "mail?.touched && mail?.errors?.['required']">

              Este campo es requerido

          </div>
          <div class="alert alert-info p-2" *ngIf = "mail?.touched && mail?.errors?.['pattern']">
            Este campo debe tener la forma correcta ejemplo@ejemplo.cl
          </div>
        </div>


        <div class="mb-3">
          <div class="input-group">
            <label class="input-group-text" for="generoId">Opciones</label>
            <select formControlName = "generoId" class="form-select" aria-label="Default select" id="generoId" required>
              <option>Abre para elegir tu opción</option>
              <option value="{{genero.generoId}}" *ngFor="let genero of generos">{{genero.generoName}}</option>
            </select>
          </div>
          <div class="alert alert-info p-2" *ngIf = "generoId?.touched && generoId?.errors?.['required']"
          >Este campo es requerido</div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="encuestaForm.invalid" >Enviar</button>
      </form>
    </div>
  </div>
</div>
