<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="encuestaForm">

    <div class="mb-3">
      <label for="mail" class="form-label">Email address</label>
      <input formControlName = "mail" type="email" class="form-control" aria-describedby="emailHelp" id="mail" required>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3">
      <select formControlName = "generoId" class="form-select" multiple aria-label="multiple select example" id="generoId" >
        <option value="{{genero.genero_id}}" *ngFor="let genero of generos">{{genero.genero}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
